[Desktop Entry]
Name=Panpipe
GenericName=Pandora Client
Comment=A Pandora client for Ubuntu Touch
Exec=qmlscene $@ panpipe.qml
Icon=Panpipe_filler_icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
