[Desktop Entry]
Name=Panpipe
GenericName=Pandora Client
Comment=A Pandora client for Ubuntu Touch
Exec=/usr/bin/qmlscene /usr/share/panpipe/panpipe.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
